.counterpage {
  @apply bg-[#E3D2C3] mx-auto rounded-[20px];
  clip-path: circle(50% at 50% 50%);
}
.curve_text {
  @apply mx-auto font-[satisfy] font-[700] tracking-[5px] text-[20px] text-[#EAEAEA]  bg-[#2DAA9E] rounded-[20px];
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.main_counter {
  @apply flex justify-center items-center my-auto;
}
.reset_button {
  @apply text-center;
}
.reset_button button {
  @apply font-[satisfy] font-[700] tracking-[5px] text-[20px]  bg-[#79c704] text-[#fff] rounded-[20px];
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.reset_button button:active {
  @apply scale-110;
}
.decrease {
  @apply rounded-[50px] bg-[#004225]  font-[microma] font-[700] text-[#fff] text-[42px];
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.decrease:active {
  @apply scale-110;
}
.increase {
  @apply rounded-[50px] bg-[#09122C]  font-[microma] font-[700] text-[#fff] text-[42px];
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.increase:active {
  @apply scale-110;
}
.number {
  @apply font-[microma] font-[700] text-[#09122C] text-[42px];
}
